body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
padding:20px;
}

h1{
color:#333;
}

input{
display:block;
margin:10px auto;
padding:12px;
width:80%;
max-width:300px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:12px 20px;
background:#00c853;
color:#fff;
border:none;
border-radius:10px;
font-size:16px;
}

.btn{
display:block;
margin:10px auto;
padding:12px;
background:#2962ff;
color:#fff;
text-decoration:none;
border-radius:10px;
width:200px;
}

.foto{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
margin:20px;
}
.btn{
  display:block;
  margin:10px auto;
  padding:14px;
  width:220px;
  background:#25D366;
  color:white;
  text-decoration:none;
  border-radius:10px;
  font-weight:bold;
  font-size:16px;
  border:none;
}

.btn:active{
  transform:scale(0.97);
}
